name: Sync JARVIS to Google Drive
on:
  push:
    branches: [ main ]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Create ZIP
        run: zip -r Jarvis_Xerife-main.zip . -x "*.git*" "venv/*" "__pycache__/*"

      - name: Upload to Google Drive
        uses: Tofunmi-fart/upload-to-google-drive@v1.0.1
        with:
          credentials: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          folder_id: ${{ secrets.DRIVE_FOLDER_ID }}
          file_path: Jarvis_Xerife-main.zip
