name: Sync JARVIS to Google Drive
on:
  push:
    branches: [ main ]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Create ZIP
        run: zip -r Jarvis_Xerife-main.zip . -x "*.git*" "venv/*" "__pycache__/*"

      - name: Upload to Google Drive
        uses: adityak74/google-drive-upload-git-action@main
        with:
          # Convertendo o JSON puro para Base64 antes de enviar para a Action
          credentials: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          filename: "Jarvis_Xerife-main.zip"
          folderId: ${{ secrets.DRIVER_FOLDER_ID }}
          overwrite: "true"
